.heroCircle {
  width: 640px;
  height: 640px;
  max-width: 90vw;
  max-height: 90vw;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.911);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  border: 22px solid rgb(213 78 21 / 54%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: none;
}

@media (max-width: 640px) {
  .heroCircle {
    width: min(72vw, 360px);
    height: min(72vw, 360px);
  }
}
